In [88]:
# pip install pymysql

Requirement already satisfied: pymysql in c:\users\micha\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [94]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [96]:
current_folder = os.getcwd()
print("Current folder:", current_folder)

Current folder: C:\Users\micha\OneDrive\Documentos\CIENCIA DE DATOS I\OULAD_ETL_EDA

In [98]:
assessments_df = pd.read_csv('anonymisedData/assessments.csv')
courses_df = pd.read_csv('anonymisedData/courses.csv')
studentAssessment_df = pd.read_csv('anonymisedData/studentAssessment.csv')
studentInfo_df = pd.read_csv('anonymisedData/studentInfo.csv')
studentRegistration_df = pd.read_csv('anonymisedData/studentRegistration.csv')
studentVle_df = pd.read_csv('anonymisedData/studentVle.csv')
vle_df = pd.read_csv('anonymisedData/vle.csv')

In [99]:
vle_df

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [121]:
server = 'localhost'
database = 'oulad'
username = 'root'
password = 'root'
port = 3306

connection_string = f"mysql+pymysql://{username}:{password}@{server}:{port}/{database}"
engine = create_engine(connection_string)

print("Connection successful.")

Connection successful.

In [123]:
assessments_df.to_sql('assessments', con=engine, if_exists='replace', index=False)

206

In [125]:
courses_df.to_sql('courses', con=engine, if_exists='replace', index=False)

22

In [127]:
studentAssessment_df.to_sql('studentAssessment', con=engine, if_exists='replace', index=False)

173912

In [129]:
studentInfo_df.to_sql('studentInfo', con=engine, if_exists='replace', index=False)

32593

In [130]:
studentRegistration_df.to_sql('studentRegistration', con=engine, if_exists='replace', index=False)

32593

In [131]:
studentVle_df.to_sql('studentVle', con=engine, if_exists='replace', index=False)

10655280

In [134]:
vle_df.to_sql('vle', con=engine, if_exists='replace', index=False)

6364