In [88]:
# pip install pymysql

Requirement already satisfied: pymysql in c:\users\micha\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os

In [3]:
current_folder = os.getcwd()
print("Current folder:", current_folder)

Current folder: C:\Users\micha\OneDrive\Documentos\CIENCIA DE DATOS I\OULAD_ETL_EDA

In [98]:
assessments_df = pd.read_csv('anonymisedData/assessments.csv')
courses_df = pd.read_csv('anonymisedData/courses.csv')
studentAssessment_df = pd.read_csv('anonymisedData/studentAssessment.csv')
studentInfo_df = pd.read_csv('anonymisedData/studentInfo.csv')
studentRegistration_df = pd.read_csv('anonymisedData/studentRegistration.csv')
studentVle_df = pd.read_csv('anonymisedData/studentVle.csv')
vle_df = pd.read_csv('anonymisedData/vle.csv')

In [99]:
vle_df

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [5]:
server = 'localhost'
database = 'oulad'
username = 'root'
password = 'root'
port = 3306

connection_string = f"mysql+pymysql://{username}:{password}@{server}:{port}/{database}"
engine = create_engine(connection_string)

print("Connection successful.")

Connection successful.

In [123]:
assessments_df.to_sql('assessments', con=engine, if_exists='replace', index=False)

206

In [125]:
courses_df.to_sql('courses', con=engine, if_exists='replace', index=False)

22

In [127]:
studentAssessment_df.to_sql('studentAssessment', con=engine, if_exists='replace', index=False)

173912

In [129]:
studentInfo_df.to_sql('studentInfo', con=engine, if_exists='replace', index=False)

32593

In [130]:
studentRegistration_df.to_sql('studentRegistration', con=engine, if_exists='replace', index=False)

32593

In [131]:
studentVle_df.to_sql('studentVle', con=engine, if_exists='replace', index=False)

10655280

In [134]:
vle_df.to_sql('vle', con=engine, if_exists='replace', index=False)

6364

In [7]:
studentinfo_ord_df = pd.read_sql('SELECT * FROM vw_studentinfo_ord_final', engine)

In [9]:
studentVle_df = pd.read_sql('SELECT * FROM vw_studentVle', engine)

In [11]:
studentAssessment_df = pd.read_sql('SELECT * FROM vw_studentAssessment', engine)

In [25]:
studentAssessment_t_df = pd.read_sql('SELECT * FROM studentAssessment', engine)
assessments_t_df = pd.read_sql('SELECT * FROM assessments', engine)
studentInfo_t_df = pd.read_sql('SELECT * FROM studentInfo', engine)
studentVle_t_df = pd.read_sql('SELECT * FROM studentVle', engine)
courses_t_df = pd.read_sql('SELECT * FROM courses', engine)

In [13]:
studentinfo_ord_df

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,ord_gender,ord_region,ord_imd_band,ord_highest_education,ord_final_result,ord_age_band
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,2,1,10.0,2,3,3
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass,1,7,3.0,2,3,2
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn,1,6,4.0,1,4,2
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass,1,8,6.0,1,3,2
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass,1,12,6.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,2640965,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,Fail,1,11,2.0,3,2,1
32589,GGG,2014J,2645731,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,Distinction,1,1,5.0,3,1,2
32590,GGG,2014J,2648187,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,Pass,1,9,3.0,1,3,1
32591,GGG,2014J,2679821,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,Withdrawn,1,8,10.0,3,4,2
32592,GGG,2014J,2684003,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,Distinction,1,13,6.0,2,1,2

In [15]:
studentVle_df

,code_module,code_presentation,id_site,date,sum_click,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,546652,-10,4,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
1,AAA,2013J,546652,-10,1,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,546652,-10,1,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
3,AAA,2013J,546614,-10,11,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
4,AAA,2013J,546714,-10,1,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13006570,GGG,2014J,896943,262,1,694782,F,Yorkshire Region,Lower Than A Level,80-90%,35-55,0,30,N,Distinction
13006571,GGG,2014J,896943,263,1,639461,F,West Midlands Region,Lower Than A Level,0-10%,0-35,0,30,N,Fail
13006572,GGG,2014J,896943,265,1,607342,F,East Anglian Region,Lower Than A Level,60-70%,35-55,0,30,N,Distinction
13006573,GGG,2014J,896943,265,2,675924,F,West Midlands Region,A Level or Equivalent,0-10%,0-35,0,30,N,Distinction
13006574,GGG,2014J,896943,268,3,602360,F,Yorkshire Region,A Level or Equivalent,0-10%,0-35,2,30,N,Fail

In [17]:
studentAssessment_df

,id_assessment,code_presentation,assessment_type,date,weight,code_module,date_submitted,is_banked,score,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,1756,2013J,TMA,215.0,30.0,AAA,212,0,82.0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,1755,2013J,TMA,166.0,20.0,AAA,164,0,85.0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
2,1754,2013J,TMA,117.0,20.0,AAA,115,0,80.0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
3,1753,2013J,TMA,54.0,20.0,AAA,53,0,85.0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
4,1752,2013J,TMA,19.0,10.0,AAA,18,0,78.0,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207314,37439,2014J,CMA,229.0,0.0,GGG,152,0,100.0,1420575,M,Scotland,Lower Than A Level,10-20,35-55,0,30,N,Pass
207315,37438,2014J,CMA,229.0,0.0,GGG,88,0,100.0,1420575,M,Scotland,Lower Than A Level,10-20,35-55,0,30,N,Pass
207316,37437,2014J,TMA,173.0,0.0,GGG,173,0,75.0,1420575,M,Scotland,Lower Than A Level,10-20,35-55,0,30,N,Pass
207317,37436,2014J,TMA,124.0,0.0,GGG,124,0,60.0,1420575,M,Scotland,Lower Than A Level,10-20,35-55,0,30,N,Pass
207318,37435,2014J,TMA,61.0,0.0,GGG,58,0,70.0,1420575,M,Scotland,Lower Than A Level,10-20,35-55,0,30,N,Pass

In [21]:
dwh_server = 'localhost'
dwh_database = 'sakila_dwh'
dwh_username = 'root'
dwh_password = 'root'
dwh_port = 5432

dwh_connection_string = f"postgresql+psycopg2://{dwh_username}:{dwh_password}@{dwh_server}:{dwh_port}/{dwh_database}"
dwh_engine = create_engine(dwh_connection_string)

print("Connection successful.")

Connection successful.

In [23]:
studentinfo_ord_df.to_sql(name='stg_studentinfo_ord',con=dwh_engine,schema='staging',if_exists='replace', index=False)
studentVle_df.to_sql(name='stg_studentVle',con=dwh_engine,schema='staging',if_exists='replace', index=False)
studentAssessment_df.to_sql(name='stg_studentAssessment',con=dwh_engine,schema='staging',if_exists='replace', index=False)

319

In [27]:
studentAssessment_t_df.to_sql(name='stg_fact_studentAssessment',con=dwh_engine,schema='staging',if_exists='replace', index=False)
assessments_t_df.to_sql(name='stg_dim_assessments',con=dwh_engine,schema='staging',if_exists='replace', index=False)
studentInfo_t_df.to_sql(name='stg_dim_studentInfo',con=dwh_engine,schema='staging',if_exists='replace', index=False)
studentVle_t_df.to_sql(name='stg_fact_studentVle',con=dwh_engine,schema='staging',if_exists='replace', index=False)
courses_t_df.to_sql(name='stg_dim_courses',con=dwh_engine,schema='staging',if_exists='replace', index=False)

22